<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      <ion-text>
        <h1 class="center" style="color:#000000" >Registro Exitoso</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

  </div>
  <img  src="assets/img/newcorrect.png" >
  <ion-text>
    <h1 class="center" style="color:#000000" >Registrado con Éxito</h1>
  </ion-text>

  <ion-text>
    <A class= "center" style="color:#000000" [routerLink]="['/home']"> <h1> Volver </h1></A>
  </ion-text>
</ion-content>