ion-content{

    --ion-background-color:#fcfcfc;
  
  
  }
  
  
  .hola{
    --ion-background-color:#fcfcfc;
    --placeholder-font-weight:#fcfcfc;
    --placeholder-opacity:#fcfcfc;
    --border-radius:#fcfcfc;
    --background:#ffffff;
    --box-shadow:#fefefe;
    --color:#0b0b0b;
  
  }
  

  .new-background-color{
    --background: black;
  }